[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
flake8 = "*"
python-multipart = "*"
pymysql = "*"
aiofiles = "*"
jinja2 = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"

[packages.uvicorn]
extras = [ "standard",]

[packages.passlib]
extras = [ "bcrypt",]

[packages.python-jose]
extras = [ "cryptography",]
